# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.nw
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# run module
bin/htarray
bin/htbin2list
bin/htcal
bin/htcat
bin/htcatchment
bin/htcatts
bin/htconv
bin/htcreate
bin/htcreatenc
bin/htcreatencfx
bin/htcsv2txt
bin/htdraw
bin/htdrawts
bin/htedit
bin/htextract
bin/htformat
bin/htgmtparam
bin/htid
bin/htidw
bin/htl2xl2y
bin/htlinear
bin/htlist2bin
bin/htlsmtxt
bin/htmask
bin/htmaskrplc
bin/htmath
bin/htmean
bin/htmeantxt
bin/htmettxt
bin/htpercentile
bin/htplot
bin/htplotts
bin/htpoint
bin/htpointts
bin/htputncfx
bin/htputncts
bin/htrank
bin/htranktxt
bin/htrs
bin/htstat
bin/htstatlst
bin/htstattxt
bin/httime
bin/httimetxt
bin/htuscale
bin/htuvwind
bin/htwind
cpl/bin/main
cpl/pst/comm_watbal
crp/bin/main
crp/pre/prog_FAOSTAT
crp/pst/prog_crpcal
crp/pst/prog_vwcnew
dam/bin/main
dam/pre/prog_damdem
lnd/bin/main
lnd/bin/main_fix
lnd/pre/prog_gwr_fa
lnd/pre/prog_gwr_fp
lnd/pre/prog_gwr_fr
lnd/pre/prog_gwr_ft
lnd/pst/prog_cwd
map/bin/calc_damalc
map/bin/calc_damgov
map/bin/calc_rivara
map/bin/calc_rivcen
map/bin/calc_rivnum
map/bin/calc_rivnxl
map/bin/calc_rivseq
map/bin/prog_crpint
map/bin/prog_crptyp
map/pre/prog_damgrd
map/pre/prog_frcgw
map/pre/prog_grdara
map/pre/prog_map_AQUASTAT
map/pre/prog_map_C05_nat
map/pre/prog_map_C05_pop
map/pre/prog_map_IGRAC
map/pre/prog_map_K14
map/pre/prog_map_M08
map/pre/prog_map_cstlin
map/pre/prog_map_lcan
map/pre/prog_one2hlf
map/pre/prog_riv_WATCH
met/pre/prog_RH
met/pre/prog_WFD
met/pre/prog_WFDEI
met/pst/prog_koppen
riv/bin/main
riv/pre/prog_clsest
riv/pst/prog_envout
riv/pst/prog_flddro

#My rule
temp*
*~
gmt.history
/Recycle/
/out/
/fig/
/tab/